.product {
  display: flex;
  flex-direction: column; /* 세로로 정렬 */
  align-items: center; /* 중앙 정렬 */
  padding: 10px;
  gap: 12px; /* 아이템 간 간격 */
}

.thumbnail img {
  max-width: 200px; /* 이미지 최대 너비 설정 */
  width: 100%; /* 전체 너비를 사용 */
  border-radius: 10px;
  object-fit: cover; /* 이미지 비율 유지하며 크기 맞춤 */
}

.product .price {
  font-size: 16px;
  font-weight: 600;
}

.product .title {
  font-size: 17px;
  font-weight: 600;
}

.product .date {
  color: grey;
  font-size: 13px;
}

.product .info {
  text-align: left;
  margin: 10px 0; /* 텍스트 간 간격 조정 */
}

.info .desc {
  margin-left: 15px; /* 이미지와 텍스트 사이 간격 */
  line-height: 1.5; /* 텍스트 간의 줄 간격 */
}
