.product {
    display: flex;
    padding: 10px;
}
.thumbnail {
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}
.product .price {
    font-size: 16px;
    font-weight: 600;
}
.product .title {
    font-size: 17px;
    font-weight: 600;
}
.product .date {
    color: grey;
    font-size: 13px;
}

/* 스크롤바 스타일링 */
#list::-webkit-scrollbar {
    width: 10px;
}
#list::-webkit-scrollbar-thumb {
    height: 30%;
    background: #217af4;
    border-radius: 10px;
}
#list::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, 0.1);
}
#btn {
    display: flex;
    padding: 10px;
    z-index: 2;
}
.wrap {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 90%; /* 화면 크기에 맞게 줄임 */
    max-width: 500px;
    height: auto;
    margin-left: -144px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    line-height: 1.5;
}
.wrap .info {
    width: 100%;
    border-radius: 5px;
    background: #fff;
}
